
kat-tooltip-content {
  position: relative;
  z-index: 8000;

}

.kat-tooltip {
  position: fixed;
  text-align: left;
  white-space: normal;
  z-index: 2;

  .kat-tooltip-content {
    background-color: lighten(lightblue, 10);
    color: #fff;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 16px;
  }

  &:before,
  &:after {
    content: '';
    display: none;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  &.top {
    &:after {
      display: block;
      border-top: 5px solid;
      border-top-color: inherit;
    }
  }

  &.bottom {
    &:before {
      display: block;
      border-bottom: 5px solid;
      border-bottom-color: inherit;
    }
  }

  &.left {
    &:before,
    &:after {
      margin-left: 6px;
    }
  }

  &.center {
    &:before,
    &:after {
      margin: auto;
    }
  }

  &.right {
    &:before,
    &:after {
      margin: 0 6px 0 auto;
    }
  }
}

