@import '../../scss/mixins';
@import '../../scss/variables';

.nav_bar {
  &.wrapper {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $white_color;
    @include box-shadow(0, -14px, 23px, 1px, rgba(0, 0, 0, 0.75));
  }

  &.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 40px;
  }

  .logo_block {
    margin-left: 5px;

    .logo_sign {
      font-family: 'Sniglet', cursive;
      font-weight: bold;
      font-size: 2em;

      @include mobile {
        font-size: 1.7em;
      }
    }
  }
}

