@import "../../scss/mixins";

.all-images {
  &.container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    .image-block-wrapper {
      margin: 20px;
    }
  }

  .title_h4 {
    text-align: center;
  }
}

.add-new-image-wrapper {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

@include mobile {
  .all-images.container {
    flex-direction: column;

    .image-block-wrapper {
      margin: 20px 0;
      width: inherit;
    }
  }
}
