@import './variables';

@mixin mobile {
  @media (max-width: $breakpoint - 1) {
    @content
  }
}

@mixin desktop {
  @media (min-width: $breakpoint) {
    @content
  }
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread, $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin actionButton($bgColor, $textColor) {
  color: $textColor;
  background-color: $bgColor;
  opacity: 1;
  cursor: pointer;
  margin: 5px;
}
