<div class="image-item wrapper">
  <img class="img image" [src]="image.imageContent" alt="" width="200">
  <div class="view-details">
    <mat-icon>
      <i class="material-icons">
        zoom_in
      </i>
    </mat-icon>
  </div>
  <div class="action-buttons-wrapper">
    <div class="buttons-container">
    <button mat-mini-fab color="primary" class="action-button">
      <mat-icon>
        <i class="material-icons">
          create
        </i>
      </mat-icon>
    </button>
    <button mat-mini-fab color="warn" class="action-button">
      <mat-icon>
        <i class="material-icons">
          delete_outline
        </i>
      </mat-icon>
    </button>
    </div>
  </div>
</div>

