<div class="image-item wrapper"
     [katTooltip]="image.tooltip.text"
     [katTooltipColour]="image.tooltip.color"
     [katTooltipPositionX]="image.tooltip.posX"
     [katTooltipPositionY]="image.tooltip.posY">
  <img class="img image"
       [src]="image.imageContent"
       [alt]="image.tooltip.text"
       (click)="openDetails()">
  <div class="view-details"
       (click)="openDetails()">
    <mat-icon>
      <i class="material-icons">
        zoom_in
      </i>
    </mat-icon>
  </div>
  <div class="action-buttons-wrapper">
    <div class="buttons-container">
      <button mat-mini-fab color="primary" class="btn btn-edit action-button">
        <mat-icon>
          <i class="material-icons">
            create
          </i>
        </mat-icon>
      </button>
      <button mat-mini-fab color="warn" class="btn btn-delete action-button">
        <mat-icon>
          <i class="material-icons">
            delete_outline
          </i>
        </mat-icon>
      </button>
    </div>
  </div>
</div>

