<mat-progress-bar mode="query"
                  *ngIf="(imageService.loadingObservable | async)"></mat-progress-bar>
<div class="new-image-wrapper"
     *ngIf="imageForm">
  <div class="new-image-container grid"
       [formGroup]="imageForm">
    <div class="column left-column">
      <div class="input-file-wrapper">
        <label class="lbl lbl-file" for="file">
          <span>Select image...</span>
          <input type="file"
                 id="file"
                 (change)="getImageBase64($event)">
        </label>
      </div>

      <div class="image-preview-wrapper">
        <div class="image-preview-mock">The preview will be here</div>

        <img *ngIf="imagePreview"
             [src]="imagePreview"
             alt="new image preview"
             class="image-for-preview">
      </div>

    </div>
    <div class="column right-column">
      <mat-form-field>
        <mat-label>position X</mat-label>
        <mat-select placeholder="position X" formControlName="tooltipPosX">
          <mat-option *ngFor="let position of positionXArray" [value]="position">{{position}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>position Y</mat-label>
        <mat-select placeholder="position Y" formControlName="tooltipPosY">
          <mat-option *ngFor="let position of positionYArray" [value]="position">{{position}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput
               placeholder="color"
               formControlName="tooltipColor"
               [style.background]="imageForm.value.tooltipColor"
               [(colorPicker)]="imageForm.value.tooltipColor"
               (colorPickerChange)="colorChange($event)"
               [cpDialogDisplay]="'inline'"
               [cpToggle]="true">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tooltip text</mat-label>
        <input matInput formControlName="tooltipText">
      </mat-form-field>
    </div>

    <div class="united-row">
      <button mat-raised-button
              color="primary"
              [disabled]="imageForm.pristine || imageForm.invalid || !imagePreview"
              (click)="addOrUpdateImage()">
        {{editMode ? 'Edit image' : 'Save new image' }}
      </button>
    </div>
  </div>
</div>
