/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/scss/mixins";

body {
  margin: 0;
  font-family: 'Sniglet', cursive;
  font-size: 24px;
}

.flex {
  display: flex;
}

.btn {
  @include actionButton(transparent, white);
}
